!!! 5
html
  head
    title Create user
  body
    form(action='/create_secret_user', method='post')
      'Email'
      input(type="text", name='email')
      'Password'
      input(type="text", name='password')
      input(type='submit')