%html{ xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title= 'Preview'
    %link{ rel: 'stylesheet', href: '/js/empty.css' }
  %body
    #msg1= 'Preview' 
    #msg2= 'Give your application a name and save it to see a preview.'