!!! 5
html(lang="en")
  head
    title Preview
    link(rel= 'stylesheet', href= '/js/empty.css')
  body
    #msg1 Preview
    #msg2 Give your application a name and save it to see a preview.
    
    