!!! 5
%html
  %head
    %title= rootpage.title
    %script{ src: '/js2/jquery-1.4.3.js' }
    %script{ src: '/js2/jquery.mobile-1.0a1.js' }
    %script{ src: '/js2/app.js' }
    %script{ src: '/data/'+ rootpage.title }
    %link{ rel: 'stylesheet', href: '/js2/app.css' }
    %link{ rel: 'stylesheet', href: '/js2/jquery.mobile-1.0a1.css' }
    %link{ rel: 'apple-touch-startup-image', href: "../images/touchsplash.png"}
    %link{ rel: 'apple-touch-icon', href: "../images/touchicon.png"}
  %body
  != pages