!!! 5
%html
  %head
    %title= rootpage.title
    %script{ src: '/sencha/ext-touch-debug.js' }
    %script{ src: '/sencha/GroupedNestedList.js' }
    %script{ src: '/sencha/app.js' }
    %script
      = dataurl 
    %link{ rel: 'stylesheet', href: '/sencha/ext-touch-095.css' }
    %link{ rel: 'stylesheet', href: '/sencha/app.css' }
  %body