!!! 5
html(manifest= ''+manifest)
  head
    meta( http-equiv= 'Content-Type', content='text/html; charset=utf-8')
    title #{rootpage.title}
    script( src= '/js2/jquery-1.6.1.min.js' )
    script( src= '/js2/jquery.mobile-1.0b1.min.js' )
    script( src= '/js2/bookmark_bubble.js' )
    script( src= '/js2/app.js' )
    script( src= '/data/' 
    + rootpage.title )
    link(rel= 'stylesheet', href= '/js2/app.css')
    link( rel= 'stylesheet', href= '/js2/jquery.mobile-1.0b1.min.css' )
    link( rel= 'apple-touch-startup-image', href= '../images/touchsplash.png')
    link( rel= 'apple-touch-icon', href= '../images/touchicon.png')
    meta( name= 'apple-mobile-web-app-capable',  content= 'yes')
    meta( name= 'viewport', content='width=device-width')
  body
    != pages   
