client/Build/Debug/Desktop Browser/.DS_Store
client/Build/Project.build/Debug/Desktop Browser/Browser.environment/Sources/.DS_Store
client/Build/Project.build/Debug/Desktop Browser/CommonJS.environment/.DS_Store
client/Build/Project.build/Debug/Desktop Browser/CommonJS.environment/Sources/.DS_Store
client/Build/.DS_Store