%html{ xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title= 'Preview'
    %link{ rel: 'stylesheet', href: '/public/js/empty.css' }
  %body
    #msg1= 'Preview' 
    #msg2= 'Save your application to see here a preview.'