%html{ xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title Agendium
    %script{ src: '/public/js/jquery-1.4.2.min.js' }
    %script{ src: '/public/js/jqtouch.js' }
    %script{ src: '/public/js/app.js' }
    %script{ src: '/data/'+ rootpage.title }
    %link{ rel: 'stylesheet', href: '/public/js/jqtouch.css' }
    %link{ rel: 'stylesheet', href: '/public/themes/jqt/theme.css' }
  %body
    #jqt
      #home.current 
        .toolbar
          %h1= rootpage.title
        %ul.rounded
          - for (var i = 0; i < rootpage.children.length; ++i)
            %li.arrow
              %a{href: '#rc'+i}= rootpage.children[i].title
              .small= rootpage.children[i].subtitle
        .info
          #p Add this page to your home screen to view the custom icon, startup screen, and full screen mode.
      #otherpages
