#home.current
  .toolbar
    %h1= title
  %ul.rounded
    %li.arrow
      %a{href: 'http://www.google.de'} Hello, World!
    %li.arrow
      %a{href: 'http://www.google.de'} Hello, World again
  Appid: 
  %span= appid
  .info
    #p Add this page to your home screen to view the custom icon, startup screen, and full screen mode.