%html{ xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %title Agendium
    %script{ src: '/public/js/jquery-1.4.2.min.js' }
    %script{ src: '/public/js/jqtouch.js' }
    %script{ src: '/public/js/app.js' }
    %link{ rel: 'stylesheet', href: '/public/js/jqtouch.css' }
    %link{ rel: 'stylesheet', href: '/public/themes/jqt/theme.css' }
  %body
    #jqt
      != body